@import url('./font.scss');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    // outline: 1px red solid;
  }
  
  body {
    font-family: 'PassionOne', Arial, sans-serif;
    margin: 0;
    font-weight: 400;
    min-width: 320px;
    max-width: 509px;
    height: 100vh;
    background-image: url('../../assets/img/bg-game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  :root {
    //z-index
    // --modal-z-index: 10;
    // color: #1fbcff;
    // // // Цвета из Фигмы
    // --overlay-color: rgba(217 217 217 / 80%);
    // --sorporate-yellow: #fbbc05;
    // --light-corporate-yellow: #face4d;
    // --dark-grey: #555;
    // --grey: #bdbbbe;
    // --light-grey: #f1f1f1;
    --white: #fff;
    // --error: #d51a52;
    --black: #000;
    --btn-donat-gradient-lime: #bce93a;
    --btn-donat-gradient-limegreen: #7ac021;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
//   .app,
//   .app_modal{
//     background: var(--bg-color);
//     color: var(--primary-color);
    
//   }
//   .svgColors path {
//     stroke: var(--stroke-color);
//   }
  
//   .svgColor path {
//     fill: var(--fill-color)
//   }
  
  .container {
    max-width: 509px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
  }